@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    padding-top: 47px;
    padding-bottom: 40px;
    @apply px-5;
  }

  .dot.active {
    @apply bg-violet;
  }

  .dot {
    @apply bg-pale-violet;
  }

  .btn-primary {
    @apply border border-blue text-blue uppercase text-[8px] font-bold w-[176px] h-[45px]
  }

  .card {
    @apply grid grid-cols-2 grid-rows-1
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li {
    position: relative; 
    padding-left: 14px; 
  } 

  li.active {
    @apply scale-125 font-bold text-text-black;
  }
  li.active::before {
    @apply bg-liDot ;
    content: ""; 
    position: absolute;
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 6px; 
    height: 6px; 
    border-radius: 50%; 
  }

  li:hover {
    @apply scale-125 font-bold text-text-black;

    cursor: pointer;
  }

  @media (min-width: 1440px) {
    .header {
      padding-top: 47px;
      padding-bottom: 40px;
      padding-left: 166px;
      padding-right: 158.16px;
    }
  }
}
